<header>
  <h1>Welcome to the World of Covalent Animations</h1>

  <button mat-raised-button (click)="resetAllAnimations()">Reset All</button>
</header>

<div class="animations">
  <div class="animations__animation">
    <h3>Default Rotate Animation</h3>

    <button mat-raised-button [@tdRotate]="triggerState" (click)="triggerState = !triggerState">
      Rotate 180&deg;<mat-icon>home</mat-icon>
    </button>
  </div>

  <div class="animations__animation">
    <h3>Configured Rotate Animation</h3>

    <button mat-raised-button [@customRotate]="customTriggerState" (click)="customTriggerState = !customTriggerState">
      Rotate 45&deg;<mat-icon>home</mat-icon>
    </button>
  </div>

  <div class="animations__animation">
    <h3>Bounce Animation</h3>

    <button mat-raised-button (click)="bounceState = !bounceState">Bounce</button>

    <div class="ball" [@bounce]="bounceState"></div>
  </div>

  <div class="animations__animation">
    <h3>Collapse Animation</h3>

    <button mat-raised-button (click)="collapseState = !collapseState">{{ collapseState ? 'Show' : 'Hide' }}</button>

    <div class="secrets" [@collapse]="collapseState">
      These are the secrets of animation....! Hide these secrets before some catches you looking at them!!
    </div>
  </div>

  <div class="animations__animation">
    <h3>Flash Animation</h3>

    <button mat-raised-button (click)="flashState = !flashState">Flash</button>

    <div [@flash]="flashState" class="warning">Warning!</div>
  </div>

  <div class="animations__animation">
    <h3>Headshake Animation</h3>

    <button mat-raised-button (click)="headshakeState = !headshakeState">Shake My Head</button>

    <mat-icon [@shake]="headshakeState" class="head">mood</mat-icon>
  </div>

  <div class="animations__animation">
    <h3>Jello Animation</h3>

    <button mat-raised-button (click)="jelloState = !jelloState">Click to Jello</button>

    <div [@jello]="jelloState" class="jello">I'm Jelly <mat-icon>mood</mat-icon></div>
  </div>
</div>