header {
    margin: 0 auto 20px;
    text-align: center;
}

.animations {
    display: flex;
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
}

.animations__animation {
    flex: 1;
    flex-basis: 33%;

    text-align: center;
}

.ball {
    width: 100px;
    height: 100px;
    margin: 30px auto 0;

    background: red;
    border-radius: 50%;
}